@use "../abstracts/mixins";

.u-center-text { text-align: center !important;}
.u-full-width { width: 100% !important;}

.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include mixins.respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include mixins.respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-huge {
    margin-bottom: 8rem !important;

    @include mixins.respond(tab-port) {
        margin-bottom: 16rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important;}

.u-margin-top-huge {
    margin-top: 4rem !important;

    @include mixins.respond(tab-port) {
        margin-top: 16rem !important;
    }
}

.u-about-me-flex {
    display: flex;
    flex-direction: row;

    @include mixins.respond(tab-port) {
        flex-direction: column;
    }
}

.u-margin-proficiencies {
    @include mixins.respond(tab-port) {
        margin-bottom: 8rem;
    }
}